<div class='wym_skin_refinery page_part' id='page_testimonial_control'>

  <div class='field enable'>
    <span class='label_with_help'>
      <%= f.label :testimonials_show?, t('.testimonials_show') %>
      <%= refinery_help_tag t('.testimonials_show_help') %>
    </span>
    <%= f.check_box :testimonials_show, {}, true, false  %>
    <%= f.label :testimonials_show, t('.testimonials_show_label'), :class => 'stripped' %>
  </div>

  <div class='fields'>
    <div class='field'>
      <span class='label_with_help'> <%= f.label :testimonials_count, t('.testimonials_count')%>
        <%= refinery_help_tag t('.testimonials_count_help')%> </span>
      <%= f.number_field :testimonials_count  %>
    </div>

    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :testimonials_select, t('.testimonials_select') %>
        <%= refinery_help_tag t('.testimonials_select_help') %>
      </span>
      <p>
        <%= t('.select_testimonals_by') %>
      </p>
      <%= f.radio_button  :testimonials_select, 'Recent' %>
      <%= f.label :testimonials_select, t('.by_date'), :value=> 'Recent', :class=>'stripped'%>
      <br />
      <%= f.radio_button  :testimonials_select, 'Random' %>
      <%= f.label :testimonials_select, t('.random'), :value => 'Random', :class=>'stripped' %>
    </div>
  </div>
</div>

