<%= form_for [refinery, :testimonials_admin, @testimonial] do |f| %>
  <%= render '/refinery/admin/error_messages',
              object: @testimonial,
              include_object_name: true %>

  <%= render '/refinery/admin/locale_picker',
              :current_locale => Globalize.locale %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'larger widest'  %>
  </div>

  <div id='testimonial-tabs'>
    <ul class='tab-list clearfix'>
      <% [:quote, :teaser].each do |part| %>
        <li>
          <%= link_to t(part, scope: 'activerecord.attributes.refinery/testimonials/testimonial'), "##{part}" %>
        </li>
      <% end %>
    </ul>
    <% [:quote, :teaser].each do |part| %>
      <div class='refinery_html_field' id='<%= part %>'>
        <%= f.text_area part, rows: 20, class: 'wymeditor widest' %>
      </div>
    <% end %>
  </div>

  <div class='field'>
    <%= f.label :company %>
    <%= f.text_field :company  %>
  </div>

  <div class='field'>
    <%= f.label :job_title %>
    <%= f.text_field :job_title  %>
  </div>

  <div class='field'>
    <%= f.label :website %>
    <%= f.text_field :website  %>
  </div>

  <div class='field'>
    <%= f.label :received_date %>
    <%= f.date_select :received_date, order: [:day, :month, :year], prompt: true   %>
  </div>

	<div class="field">
		<%= f.label :received_channel %>
		<%= f.select :received_channel, Refinery::Testimonials::Testimonial::CHANNELS  %>
	</div>

  <div class='field'>
    <%= f.label :position %>
    <%= f.number_field :position  %>

  </div>

  <%= render '/refinery/admin/form_actions', f: f,
             continue_editing: false,
             delete_title: t('delete', scope: 'refinery.testimonials.admin.testimonials.testimonial'),
             delete_confirmation: t('message', scope: 'refinery.admin.delete', title: @testimonial.name) %>
<% end %>


