<%= form_for [refinery, :testimonials_admin, @testimonial] do |f| %>
  <%= render '/refinery/admin/error_messages',
              object: @testimonial,
              include_object_name: true %>
  <%= render '/refinery/admin/error_messages',   object: @testimonial, include_object_name: true %>
  <%= render '/refinery/admin/warning_messages', object: @testimonial,
             include_object_name: true unless @testimonial.sensible? %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'larger widest'  %>

  </div>

  <div class='field'>
    <div id='page-tabs' class='clearfix'>
      <ul id='page_parts'>
        <% ::Refinery::Testimonials.tabs.each_with_index do |tab, tab_index| %>
          <li class= '<%= TestimonialsHelper.tab_classes(tab, tab_index, @testimonial.warnings) %>'>
            <%= link_to tab.name.titleize, "\#tab_#{tab_index}_editor" %>
          </li>
        <% end %>
      </ul>
      <div id="page_part_editors">
        <% ::Refinery::Testimonials.tabs.each_with_index do |tab, tab_index| %>
          <div class='page_part' id='<%= "tab_#{tab_index}_editor" %>'>
            <%= render tab.partial, f: f, fields: tab.fields %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class='field'>
    <%= f.label :company %>
    <%= f.text_field :company  %>
  </div>

  <div class='field'>
    <%= f.label :job_title %>
    <%= f.text_field :job_title  %>
  </div>

  <div class='field'>
    <%= f.label :website %>
    <%= f.text_field :website  %>
  </div>

  <div class='field'>
    <%= f.label :received_date %>
    <%= f.date_select :received_date, order: [:day, :month, :year], prompt: true   %>
  </div>

	<div class="field">
		<%= f.label :received_channel %>
		<%= f.select :received_channel, Refinery::Testimonials::Testimonial::CHANNELS  %>
	</div>

  <div class='field'>
    <%= f.label :position %>
    <%= f.number_field :position  %>

  </div>

  <%= render '/refinery/admin/form_actions', f: f,
             continue_editing: false,
             delete_title: t('delete', scope: 'refinery.testimonials.admin.testimonials.testimonial'),
             delete_confirmation: t('message', scope: 'refinery.admin.delete', title: @testimonial.name) %>
<% end %>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function () {
      if (!page_options.initialised){
        page_options.init(false, '', '');
      }
    });
  </script>
<% end %>

