<% status = testimonial.sensible? ? :ok : :warning %>
<li class='record <%= cycle("on", "on-hover") %> <%= status %>' id="<%= dom_id(testimonial)%>">
  <span class='title'>
    <%= testimonial.name || testimonial.id %>
  </span>
  <% if testimonial.company.present? %>
    <span> (<%= testimonial.company %>)</span>
  <% end %>
  <span class='actions'>
    <% title = t('.edit') %>
    <%= action_icon :edit, refinery.edit_testimonials_admin_testimonial_path(testimonial),
                    title: title %>

    <%= action_icon :delete,
                    refinery.testimonials_admin_testimonial_path(testimonial),
                    t('refinery.testimonials.admin.testimonials.delete'),
                    class: "cancel confirm-delete",
                    data: {
                      confirm: t('refinery.admin.delete.message', title: testimonial.name)
                    },
                    method: :delete -%>
  </span>
</li>

