<% status = testimonial.sensible? ? :ok : :warning
   edit_tip = t('.edit')
   delete_tip = t('.delete')
%>
<li class='record <%= cycle("on", "on-hover") %> <%= status %>' id="<%= dom_id(testimonial)%>">
  <span class='title'>
    <%= link_to testimonial.name,
                refinery.edit_testimonials_admin_testimonial_path(testimonial),
                title: edit_tip
                  %>
  </span>

   <span> <%= testimonial.company.bracket if testimonial.company.present?  %></span>

  <span class='actions'>

    <%= action_icon :edit, refinery.edit_testimonials_admin_testimonial_path(testimonial),
                    title: edit_tip %>

    <%= action_icon :delete,
                    refinery.testimonials_admin_testimonial_path(testimonial),
                    title: delete_tip,
                    class: "cancel confirm-delete",
                    data: {
                      confirm: t('refinery.admin.delete.message', title: testimonial.name)
                    },
                    method: :delete -%>
  </span>
</li>

