<li class='record <%= cycle("on", "on-hover") %>' id="<%= dom_id(testimonial)%>">
  <span class='title'>
    <%= testimonial.name || testimonial.id %>
  </span>
  <span class='actions'>
    <%= action_icon :edit, refinery.edit_testimonials_admin_testimonial_path(testimonial),
                    title: t('.edit') %>

    <%= action_icon :delete,
                    refinery.testimonials_admin_testimonial_path(testimonial),
                    t('refinery.testimonials.admin.testimonials.delete'),
                    class: "cancel confirm-delete",
                    data: {
                      confirm: t('refinery.admin.delete.message', title: testimonial.name)
                    },
                    method: :delete -%>
  </span>
</li>
